(1)

In [1]:
#luas ruangan dalam meter persegi 
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath =9.5

In [3]:
#list dengan nama area berdasarkan variable diatas 
area = [["hall", 11.25], ["kit",18.0], ["liv", 20.0], ["bed", 10.75], ["bath", 9.5]]

In [4]:
type(area)

list

In [5]:
area

[['hall', 11.25], ['kit', 18.0], ['liv', 20.0], ['bed', 10.75], ['bath', 9.5]]

(2)

In [12]:
area_2 = ['Hallway', hall ,'Kitchen',  kit, 'Living Room',  liv,  'Bed Room',  bed, 'Bath Room',  bath]

In [13]:
area_2

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Living Room',
 20.0,
 'Bed Room',
 10.75,
 'Bath Room',
 9.5]

(3)

A, B, C semua dapat dikatakan list

In [14]:
 A = [1,3,4,2]

In [15]:
type(A)

list

In [16]:
B = [[1,2,3], [4,5,7]]

In [17]:
type(B)

list

In [18]:
C = [1+2, "a"*5,3]

In [19]:
type(C)

list

(4)

In [21]:
rumah = [['Hallway', hall] ,['Kitchen',  kit], ['Living Room',  liv],  ['Bed Room',  bed], ['Bath Room',  bath]]

In [22]:
rumah

[['Hallway', 11.25],
 ['Kitchen', 18.0],
 ['Living Room', 20.0],
 ['Bed Room', 10.75],
 ['Bath Room', 9.5]]

In [23]:
type(rumah)

list

(5)

In [26]:
area_3 = ['Hallway', 11.25 ,'Kitchen',  18.0, 'Living Room',  20.0,  'Bed Room',  10.75, 'Bath Room',  9.50]

In [27]:
area_3[2]

'Kitchen'

In [29]:
area_3[-1]

9.5

In [31]:
area_3[4]

'Living Room'

(6)

In [43]:
area_makan_favorite = area_3[4] + area_3[8]

In [36]:
area_makan_favorite

28.75

(7)

In [56]:
lantai_1 = area_3[:6] # 6 elemen pertama berarti 0 sampai dengan 6

In [57]:
lantai_1

['Hallway', 11.25, 'Kitchen', 18.0, 'Living Room', 20.0]

In [52]:
lantai_2 = area_3[7:10]

In [53]:
lantai_2

[10.75, 'Bath Room', 9.5]

(8)

In [54]:
x = [["a","b","c"], ["d","e","f"], ["g","h","i"]]

In [55]:
print(x[2][0])

g

In [58]:
print(x[2][:2])

['g', 'h']

(9)

In [59]:
area_3[-1] = 10.8

In [60]:
area_3

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Living Room',
 20.0,
 'Bed Room',
 10.75,
 'Bath Room',
 10.8]

In [61]:
area_3[4]= "Ruang Tamu"

In [62]:
area_3

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Ruang Tamu',
 20.0,
 'Bed Room',
 10.75,
 'Bath Room',
 10.8]

(10)

In [63]:
area_3_1 = area_3 + ['poolhouse', 24.5]

In [64]:
area_3_1

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Ruang Tamu',
 20.0,
 'Bed Room',
 10.75,
 'Bath Room',
 10.8,
 'poolhouse',
 24.5]

In [65]:
area_3_2 = area_3_1 + ['garage', 15.45]

In [66]:
area_3_2

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Ruang Tamu',
 20.0,
 'Bed Room',
 10.75,
 'Bath Room',
 10.8,
 'poolhouse',
 24.5,
 'garage',
 15.45]

In [67]:
area_3 =["Hallway", 11.25, "Kitchen", 18.0, "Chill zone", 20.0, "bed room", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]

In [68]:
area_3

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Chill zone',
 20.0,
 'bed room',
 10.75,
 'bathroom',
 10.5,
 'poolhouse',
 24.5,
 'garage',
 15.45]

In [69]:
del(area_3[-4:])

In [70]:
area_3

['Hallway',
 11.25,
 'Kitchen',
 18.0,
 'Chill zone',
 20.0,
 'bed room',
 10.75,
 'bathroom',
 10.5]